<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payment>
            <channelunitypayment>
                <active>1</active>
                <title>Order imported by ChannelUnity</title>
<!--                <order_status>pending_payment</order_status>-->
                <instructions>Instruction.</instructions>
                <payment_action>true</payment_action>
                <model>Camiloo\Channelunity\Model\Channelunitypayment</model>
                <group>offline</group>
            </channelunitypayment>
        </payment>
        <carriers>
            <cucustomrate>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Camiloo\Channelunity\Model\Customrate</model>
                <name>ChannelUnity Shipping</name>
                <price>15.00</price>
                <title>ChannelUnity Shipping</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </cucustomrate>
        </carriers>
    </default>
</config>
