<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="\Magento\Tax\Model\Sales\Total\Quote\Tax" type="Camiloo\Channelunity\Model\Tax" />
    <preference for="\Magento\CatalogInventory\Observer\ItemsForReindex" type="Camiloo\Channelunity\Model\ItemsForReindex" />
    
    <type name="\Magento\Sales\Model\Order\Shipment">
        <plugin name="ShipmentTracking" type="Camiloo\Channelunity\Plugin\OrderShippedPlugin" sortOrder="1" />
    </type>
    <type name="\Magento\CatalogInventory\Model\Stock\Item">
        <plugin name="StockItemSave" type="Camiloo\Channelunity\Plugin\StockItemSavePlugin" sortOrder="1" />
    </type>
    <type name="\Magento\CatalogInventory\Model\ResourceModel\Stock\Status">
        <plugin name="StockStatus" type="Camiloo\Channelunity\Plugin\StockStatusPlugin" sortOrder="1" />
    </type>
    <type name="\Magento\CatalogInventory\Model\StockStateProvider">
        <plugin name="StockStateProvider" type="Camiloo\Channelunity\Plugin\StockPlugin" sortOrder="1" />
    </type>
    <type name="\Magento\Framework\App\Request\CsrfValidator">
        <plugin name="csrfValidatorSkip" type="Camiloo\Channelunity\Plugin\CsrfValidatorSkipPlugin" />
    </type>
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="sync_stock_and_price_command" xsi:type="object">Camiloo\Channelunity\Command\Sync</item>
                <item name="sync_products_command" xsi:type="object">Camiloo\Channelunity\Command\SyncProducts</item>
                <item name="delete_orders_command" xsi:type="object">Camiloo\Channelunity\Command\DeleteOrders</item>
                <item name="sync_bulk_command" xsi:type="object">Camiloo\Channelunity\Command\BulkProductSync</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Camiloo\Channelunity\Command\Sync">
        <arguments>
            <argument name="helper" xsi:type="object">Camiloo\Channelunity\Model\Helper\Proxy</argument>
            <argument name="cuproducts" xsi:type="object">Camiloo\Channelunity\Model\Products\Proxy</argument>
            <argument name="searchCriteriaBuilder" xsi:type="object">Magento\Framework\Api\SearchCriteriaBuilder\Proxy</argument>
            <argument name="stockItemRepository" xsi:type="object">Magento\CatalogInventory\Model\Stock\StockItemRepository\Proxy</argument>
            <argument name="iterator" xsi:type="object">Magento\Framework\Model\ResourceModel\Iterator\Proxy</argument>
            <argument name="stockItem" xsi:type="object">Magento\CatalogInventory\Model\ResourceModel\Stock\Item\Proxy</argument>
            <argument name="product" xsi:type="object">Magento\Catalog\Model\ResourceModel\Product\Proxy</argument>
            <argument name="eavAttribute" xsi:type="object">Magento\Eav\Model\ResourceModel\Entity\Attribute\Proxy</argument>
            <argument name="resource" xsi:type="object">Magento\Framework\App\ResourceConnection\Proxy</argument>
            <argument name="moduleManager" xsi:type="object">Magento\Framework\Module\Manager\Proxy</argument>
        </arguments>
    </type>
    
    <type name="Camiloo\Channelunity\Command\SyncProducts">
        <arguments>
            <argument name="helper" xsi:type="object">Camiloo\Channelunity\Model\Helper\Proxy</argument>
            <argument name="cuproducts" xsi:type="object">Camiloo\Channelunity\Model\Products\Proxy</argument>
            <argument name="state" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
        </arguments>
    </type>
    
    <type name="Camiloo\Channelunity\Command\DeleteOrders">
        <arguments>
            <argument name="orderRepository" xsi:type="object">Magento\Sales\Model\OrderRepository\Proxy</argument>
            <argument name="searchCriteriaBuilder" xsi:type="object">Magento\Framework\Api\SearchCriteriaBuilder\Proxy</argument>
            <argument name="registry" xsi:type="object">Magento\Framework\Registry\Proxy</argument>
        </arguments>
    </type>
    
    <type name="Camiloo\Channelunity\Command\BulkProductSync">
        <arguments>
            <argument name="helper" xsi:type="object">Camiloo\Channelunity\Model\Helper\Proxy</argument>
            <argument name="cuproducts" xsi:type="object">Camiloo\Channelunity\Model\Products\Proxy</argument>
            <argument name="resource" xsi:type="object">Magento\Framework\App\ResourceConnection\Proxy</argument>
            <argument name="state" xsi:type="object">Magento\Framework\App\State\Proxy</argument>
            <argument name="storeManager" xsi:type="object">Magento\Store\Model\StoreManagerInterface\Proxy</argument>
        </arguments>
    </type>
</config>
